# Исключаем виртуальное окружение
venv

# Git-метаданные
.git

# Локальная база данных
db.sqlite3

# Файлы и папки IDE
.idea
.vscode

# Файлы с переменными окружения
.env

# Кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Node.js зависимости (если вдруг затесались)
node_modules

# Логи
*.log
